<mat-list>
  <mat-list-item>
    <span class="material-icons">home</span> Menu główne
  </mat-list-item>
    <mat-list-item routerLink="{{routes.USERVIEW}}" >
      <span class="material-icons">account_circle</span> Profil
    </mat-list-item>
    <mat-list-item routerLink="{{routes.PROJECTTABLES}}" routerLinkActive="active">
      <span class="material-icons">account_circle</span> Projekty
    </mat-list-item>
    <mat-list-item routerLink="{{routes.TEAMTABLES}}" routerLinkActive="active">
      <span class="material-icons">account_circle</span> Zespoły
    </mat-list-item>
    <mat-list-item *ngIf="isAdmin" routerLink="{{routes.USERTABLES}}" routerLinkActive="active">
      <span class="material-icons">account_circle</span> Użytkownicy
    </mat-list-item>
    <mat-list-item routerLink="{{routes.LOGOUT}}">
      <span class="material-icons">logout</span> Wyloguj
    </mat-list-item>
</mat-list>
