<mat-toolbar class="header">
   <h6 class="header__title-text" >TeamMaker</h6>
</mat-toolbar>
<h1 ></h1>
<div class="login">
  <button mat-flat-button routerLinkActive="active"></button>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="userGroup">
        <h2>Zaloguj</h2>
        <mat-error *ngIf="!loginValid">
          The username and password were not recognized
        </mat-error>
        <mat-form-field>
          <input matInput placeholder="Email"  formControlName="email" required>
          <mat-error *ngIf="userGroup.controls.email.errors?.required">Adres email jest wymagany.</mat-error>
          <mat-error *ngIf="userGroup.controls.email.errors?.email">Proszę podać poprawny adres email.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Hasło"  formControlName="password" required>
          <mat-error *ngIf="userGroup.controls.password.errors?.required">Hasło jest wymagane.</mat-error>
        </mat-form-field>
        <button mat-raised-button type="button" color="primary" class="left-button" routerLink="{{routes.REGISTER}}"
        routerLinkActive="active">Rejestracja</button>
        <button mat-raised-button type="button" color="primary" class="right-button" (click)="login()">Zaloguj</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

